{% extends "base.html" %}

{% block title %}{{ article.heading }} - Daily Good News{% endblock %}

{% block content %}
    <main class="container">
        <section class="articles-item-page">
                <h1>{{ article.heading }}</h1>
                {% if article.image_local_path %}
                    <div class="image-wrapper">
                        <img class="articles-image" src="{{ article.image_local_path }}" alt="{{ article.heading }}">
                    </div>
                {% elif article.image %}
                    <div class="image-wrapper">
                        <img class="articles-image" src="{{ url_for('artifacts', filename='coffee_break/images/' + article.image) }}" alt="{{ article.heading }}">
                    </div>
                {% endif %}
                <div class="articles-description">
                  {{ article.article|sanitize_html|safe }}
                </div>
                <div class="articles-footer">
                    <div class="footer-info-wrapper">
                      <p class="articles-date">Date: {{ article.date }}</p>
                     </div>
                     <a href="/articles" class="go-back-btn">Go Back</a>
                     <div class="social-share-container">
                        <details class="social-share">
                          <summary class="share-menu-toggle">
                            <img src="{{ url_for('static', filename='assets/share.svg') }}" alt="" class="share-menu-toggle-icon"/>
                            <span class="visually-hidden">Share</span>
                          </summary>
                          <div class="share-menu" role="menu">
                            <a class="share-menu-item" href="https://twitter.com/intent/tweet?url={{ request.url|urlencode }}&text={{ article.heading|urlencode }}" target="_blank" rel="noopener noreferrer" role="menuitem">
                              <img src="{{ url_for('static', filename='assets/twitter.svg') }}" alt="" class="social-icon"/>
                              <span>Twitter</span>
                            </a>
                            <a class="share-menu-item" href="https://www.facebook.com/sharer/sharer.php?u={{ request.url|urlencode }}" target="_blank" rel="noopener noreferrer" role="menuitem">
                              <img src="{{ url_for('static', filename='assets/facebook.svg') }}" alt="" class="social-icon"/>
                              <span>Facebook</span>
                            </a>
                            <a class="share-menu-item" href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.url|urlencode }}" target="_blank" rel="noopener noreferrer" role="menuitem">
                              <img src="{{ url_for('static', filename='assets/linkedin.svg') }}" alt="" class="social-icon"/>
                              <span>LinkedIn</span>
                            </a>
                            <a class="share-menu-item" href="https://api.whatsapp.com/send?text={{ (article.heading ~ ' ' ~ request.url)|urlencode }}" target="_blank" rel="noopener noreferrer" role="menuitem">
                              <img src="{{ url_for('static', filename='assets/whatsapp.svg') }}" alt="" class="social-icon"/>
                              <span>WhatsApp</span>
                            </a>
                            <a class="share-menu-item" href="mailto:?subject={{ article.heading|urlencode }}&body={{ request.url|urlencode }}" role="menuitem">
                              <img src="{{ url_for('static', filename='assets/mail.svg') }}" alt="" class="social-icon"/>
                              <span>Email</span>
                            </a>
                            <button class="share-menu-item share-menu-button" type="button" data-share-native data-share-title="{{ article.heading }}" data-share-url="{{ request.url }}" role="menuitem">
                              <img src="{{ url_for('static', filename='assets/share.svg') }}" alt="" class="social-icon"/>
                              <span>System Share</span>
                            </button>
                            <button class="share-menu-item share-menu-button" type="button" data-share-copy data-share-url="{{ request.url }}" role="menuitem">
                              <img src="{{ url_for('static', filename='assets/copy.svg') }}" alt="" class="social-icon"/>
                              <span>Copy Link</span>
                            </button>
                          </div>
                        </details>
                      </div>
                  </div>
        </section>
    </main>
{% endblock %}
