<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>{% block title %}Daily Good News{% endblock %}</title>
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Page Loader - Only for initial loads -->
    <div id="loader" class="page-loader">
        <div class="page-loader__spinner"></div>
    </div>
    


    {% block content %}{% endblock %}

    {% include 'footer.html' %}
    
    <!-- Enhanced JavaScript modules are loaded in header.html -->
    <!-- Dynamic Pagination System -->
    <script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>