{% extends "base.html" %}

{% block title %}Contact - Daily Good News{% endblock %}

{% block content %}
    <main class="container">
        <section class="contact-section">
            <h2 class="contact-section-title">Get In Touch</h2>
            <p class="contact-description">Have questions or want to talk? I'd love to hear from you!</p>
            <div class="contact-details">
                <ul>
                    <li>
                        <b>Email: skillsharer@proton.me</b> 
                    </li>
                    <li>
                        <b>Twitter: </b> 
                        <a href="https://twitter.com/_skillsharer_" target="_blank" rel="noreferrer" class="contact-link">
                            Follow me on X!
                        </a>
                    </li>
                    <li>
                        <b>Discord: </b> 
                        <a href="https://discord.gg/8Rvjk7K2Wz" class="contact-link">Join me on Discord!</a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
{% endblock %}