{% extends "base.html" %}

{% block title %}Story Time - Daily Good News{% endblock %}

{% block content %}
    <div id="storytime-main-content" class="container">
        <section class="storytime-grid">
            {% for article in story_time_articles %}
            <article class="storytime-card">
                <a href="/story_time/{{ article.slug }}" class="storytime-card-link">
                    <div class="image-wrapper">
                         {% if article.image %}
                             <img class="storytime-card-image" src="{{ article.image }}">
                         {% endif %}
                        <div class="storytime-card-content">
                            <h3 class="storytime-card-title">{{ article.heading }}</h3>
                            <p class="storytime-card-description">{{ article.article|sanitize_html|safe|truncate(200) }}</p>
                            <span class="read-more">Read More</span>
                        </div>
                    </div>
                </a>
            </article>
            {% endfor %}
        </section>
        {% if articles|length > 2 %}
        <div class="view-more-container">
            <button id="view-more-stories-btn" class="view-more-btn">
                View More Stories
                <span class="view-more-icon">↓</span>
            </button>
        </div>
        {% endif %}
    </div>
{% endblock %}