{% extends "base.html" %}

{% block title %}{{ article.heading }} - Daily Good News{% endblock %}

{% block content %}
    <main class="container">
        <section class="storytime-item-page">
                <h1>{{ article.heading }}</h1>
                <div class="storytime-description">
                  {{ article.article|sanitize_html|safe }}
                </div>
                <div class="storytime-footer">
                    <div class="footer-info-wrapper">
                      <p class="storytime-date">Date: {{ article.date }}</p>
                     </div>
                     <a href="/story_time" class="go-back-btn">Go Back</a>
                     <div class="social-share-container">
                        <p class="share-text">Share:</p>
                        <div class="social-share">
                          <a href="https://twitter.com/intent/tweet?url={{ request.url|urlencode }}&text={{ article.heading|urlencode }}" target="_blank" rel="noopener noreferrer">
                             <img src="{{ url_for('static', filename='assets/twitter.svg') }}" alt="Twitter" class="social-icon"/>
                          </a>
                          <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url|urlencode }}" target="_blank" rel="noopener noreferrer">
                            <img src="{{ url_for('static', filename='assets/facebook.svg') }}" alt="Facebook" class="social-icon"/>
                          </a>
                        </div>
                      </div>
                  </div>
        </section>
    </main>
{% endblock %}